<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">FitCenter</h1>
    <div class="logout">
      <a (click)="logout()"><i class="fas fa-sign-out-alt"></i>Wyloguj</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container *ngIf="loggedIn()" class="example-container" fullscreen>
    <mat-sidenav
      #sidenav
      id="sidenav"
      class="example-sidenav"
      mode="side"
      opened="true"
      (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()"
    >
      <mat-card *ngIf="isExpanded || isShowing">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
  
          <mat-card-title>Arkadiusz Cichurski</mat-card-title>
          <mat-card-subtitle>jArecki444</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  
      <mat-nav-list>
        <mat-list-item class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing"
            >Centrum aktywności</span
          >
          <mat-icon mat-list-icon>accessibility_new</mat-icon>
        </mat-list-item>
  
        <mat-list-item
          (click)="showTrainingSubmenu = !showTrainingSubmenu"
          class="parent"
        >
          <span class="full-width" *ngIf="isExpanded || isShowing">Trening</span>
          <mat-icon mat-list-icon>fitness_center</mat-icon>
          <mat-icon
            class="menu-button"
            [ngClass]="{ rotated: showTrainingSubmenu }"
            *ngIf="isExpanded || isShowing"
            >expand_more</mat-icon
          >
        </mat-list-item>
        <div
          class="submenu"
          [ngClass]="{ expanded: showTrainingSubmenu }"
          *ngIf="isShowing || isExpanded"
        >
          <a mat-list-item [routerLink]="['/exercises/user-exercises']" routerLinkActive="router-link-active" 
            ><mat-icon>directions_bike</mat-icon>Twoje ćwiczenia</a
          >
          <a mat-list-item href="..."
            ><mat-icon>library_books</mat-icon> Twoje plany treningowe</a
          >
        </div>
      </mat-nav-list>
  
      <mat-nav-list>
        <mat-list-item
          (click)="showDietSubmenu = !showDietSubmenu"
          class="parent"
        >
          <span class="full-width" *ngIf="isExpanded || isShowing">Dieta</span>
          <mat-icon mat-list-icon>local_dining</mat-icon>
          <mat-icon
            class="menu-button"
            [ngClass]="{ rotated: showDietSubmenu }"
            *ngIf="isExpanded || isShowing"
            >expand_more</mat-icon
          >
        </mat-list-item>
        <div
          class="submenu"
          [ngClass]="{ expanded: showDietSubmenu }"
          *ngIf="isShowing || isExpanded"
        >
          <a mat-list-item href="..."
            ><mat-icon>kitchen</mat-icon> Twoje produkty</a
          >
          <a mat-list-item href="..."
            ><mat-icon>fastfood</mat-icon> Twoje posiłki</a
          >
          <a mat-list-item href="..."
            ><mat-icon>library_books</mat-icon> Twoje plany żywieniowe</a
          >
        </div>
      </mat-nav-list>
  
      <mat-nav-list>
        <mat-list-item class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing"
            >Ustawienia</span
          >
          <mat-icon mat-list-icon>settings_application</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
  
  <!-- Copyright 2017 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->
  