<div class="flex-container">
	<mat-card>
      Dostarczona ilość kalorii
		<p class="amount">2500</p>
	</mat-card>
	<mat-card>
		Twój cel kalorczny<br />
		<p class="amount">3200</p>
	</mat-card>
	<mat-card>
		Bilans kaloryczny
		<br />
		<p class="amount">Brakuje ci 700 kalorii do osiągnięcia celu!</p>
	</mat-card>
</div>


<div class="flex2">
  <mat-card>
    Twoja obecna waga wynosi
    <br />
    <p class="amount">79 kg</p>
  </mat-card>
  <mat-card>
    Twój cel
    <br />
    <p class="amount">85 kg</p>
  </mat-card>
</div>

<div class="actions">
  <button type="button" class="actionbtn" mat-raised-button color="primary">
    Zmień cel sylwetkowy
  </button>
  <button type="button" class="actionbtn"  mat-raised-button color="primary">
    Zaaktualizuj dane profilowe
  </button>
</div>