<div class="flex-container">
  <h2>Twoje ćwiczenia</h2>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Przyisady ze sztangą</mat-card-title>
          <mat-card-subtitle>Nogi</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.fabrykasily.pl/upload/gallery/2018/07/id_9676_1531132732_1260x840.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">EDYTUJ</button>
          <button mat-raised-button color="warn">USUŃ</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title>Wyciskanie na ławce</mat-card-title>
          <mat-card-subtitle>Klatka piersiowa</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.fabrykasily.pl/upload/gallery/2018/07/id_18958_1532435970_1260x841.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">EDYTUJ</button>
          <button mat-raised-button color="warn">USUŃ</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title>Martwy Ciąg</mat-card-title>
          <mat-card-subtitle>Plecy, nogi</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.fabrykasily.pl/upload/gallery/2018/07/id_9665_1531130181_1260x840.jpg" alt="Photo of a Shiba Inu">

        <mat-card-actions>
          <button mat-raised-button color="primary">EDYTUJ</button>
          <button mat-raised-button color="warn">USUŃ</button>
        </mat-card-actions>
      </mat-card>

    
</div>
