<div class="flex-container">
  <h2>Twoje posiłki</h2>

    <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title>Ryż z kurczakiem i warzywami</mat-card-title>
          <mat-card-subtitle>750 kcal</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.winiary.pl/image.ashx/ryz-z-kurczakiem-curry.jpg?fileID=229306&width=800&height=1400&frame=False&bg=0&resize=1&crop=0&hRefill=0&vRefill=0&quality=84" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Mój obiad
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">EDYTUJ</button>
          <button mat-raised-button color="warn">USUŃ</button>
        </mat-card-actions>
      </mat-card>
    <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title>Naleśniki</mat-card-title>
          <mat-card-subtitle>700 kcal</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.winiary.pl/image.ashx/nalesniki-z-dzemem.jpg?fileID=229309&width=800&height=1400&frame=False&bg=0&resize=1&crop=0&hRefill=0&vRefill=0&quality=84" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Deser
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">EDYTUJ</button>
          <button mat-raised-button color="warn">USUŃ</button>
        </mat-card-actions>
      </mat-card>
</div>

<button type="button" class="actionbtn" mat-raised-button color="primary">
  Dodaj nowy posiłek
</button>